

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #fef0e5;
    color: #333;
    overflow: hidden; /* Prevent page scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of viewport */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f9f5ec;
    flex-shrink: 0; /* Ensure header does not shrink */
}

.header button {
    background-color: #f1d1b3;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.category-tabs {
    display: flex;
    gap: 10px;
}

.category-tabs button {
    background-color: #f9f5ec;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    color: #555;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Responsive grid */
    gap: 10px;
    padding: 10px;
    overflow-y: auto; /* Enable scrolling */
    flex-grow: 1; /* Take remaining space after header and footer */
    width: 100%;
   max-height: 280px;
}

.category-item button {
    background-color: #f9e1c6;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    aspect-ratio: 1; /* Square buttons */
    min-width: 80px;
    max-width: 120px;
}
.category-item button.active {
    background-color: #007BFF; /* Blue color for active button */
    color: white;
}

.category-item button:hover {
    background-color: #ddd;
}
.category-item img {
    width: 50%;
    height: auto;
    margin-bottom: 5px;
}

.footer {
    background-color: #f6e8d5;
    padding: 10px;
    border-top: 1px solid #ddd;
    position: fixed; /* Fixed at the bottom */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.input-fields {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input-fields input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

#expenseDate {
    margin-bottom: 10px;
}

#expenseDate {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}


.calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.calculator button {
    background-color: #f1d1b3;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}


